
@font-face {
    font-family: 'SpecialElite';
    src: url('../fonts/Special_Elite/SpecialElite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin advice-block{
	font-family: 'SpecialElite', cursive;
	color: #3f3f5a;
	display: flex;
	align-items: center;
	justify-content: center;

    blockquote {
        display: inline-flex;
        font-weight: 40;
        font-size: 1rem;
        line-height: 1.2;
        position: relative;
        margin: 0;
        padding: .5rem;
        justify-content: center;
        align-items: center;
        &::before,
        &::after {
            position: absolute;
            color: #f1efe6;
            font-size: 4rem;
            width: 3rem;
            height: 3rem;
        }
        &::before {
            content: '“';
            left: -2rem;
            top: -1rem;
        }   
        &::after {
            content: '”';
            right: -3rem;
            bottom: -1rem;
        }
    }
}

